// ********************************************************************* //
//
// Global Dashboard Styles
//
// ********************************************************************* //


// Import fonts
@import 'fonts.scss';

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
