// ********************************************************************* //
//
// Global Dashboard Styles
//
// ********************************************************************* //

body {
	font-family: $font-open;
	font-size: 14px;
	font-weight: 400;
}

h1 {
	font-family: $font-oswald;
}